<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <title>B. Borg Construction</title>
</head>

<body>


   <!-- <div class="contain">
     <div class="tag">B. Borg Construction</div>
      <img src="../images/412030.jpg" alt="Crane" class="responsive">
        <a class="btn2" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="btn2" href="#"><i class="fab fa-google"></i></a>
        <a class="btn2" href="#"><i class="fab fa-instagram"></i></a>
   </div> -->
   <!-- <div id="carouselExampleIndicators" class="carousel" data-ride="carousel">

      <div class="carousel">
        <div class="carousel-item active">
          <img src="../images/412030.jpg" class="d-block w-100" alt="...">
        </div>

      <a href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
        </div> -->
   


        <div class="hero" style="background-image: url(../images/412030.jpg)">
          <div class="hero__content">
            <h1>Yolo, it's a real word.</h1>
            <a class="btn" href="#">Sign up</a>
          </div>
        </div>




  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div id="links" class="bg-dark p-4">
          <button type="button" class="btn btn-secondary btn-lg btn-block">About</button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">Link</button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">Link</button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">Contact</button>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" id="toggle" type="button" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

  <div id="goal" class="main-content">
    <h1>Project Goals</h1>
    <hr class='line'>

    <div class="container">
      <div class="row" id="goals">
        <div class="col-sm bordered">
          Injuries or Accidents
          <p class='g1'>ZERO</p>
          <hr class='line'>
        </div>
        <div class="col-sm bordered">
          On Time Completion
          <p class='g1'>100%</p>
          <hr class='line'>
        </div>
        <div class="col-sm bordered">
          Quality Issues
          <p class='g1'>ZERO</p>
          <hr class='line'>
        </div>
      </div>
    </div>

  </div>
  </div>

  