<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <title>B. Borg Construction</title>
</head>

<body>

  <section class="hero-section">
    <p class="hero-title">B. Borg Construction LLC</p>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <div class="center">
      <div id="social">
        <ul>
          <li class="facebook">
            <button class="border"><i class="fa fa-facebook"></i></button>
          </li>
          <li class="twitter">
            <button class="border"><i class="fa fa-twitter"></i></button>
          </li>
          <li class="instagram">
            <button class="border"><i class="fa fa-instagram"></i></button>
          </li>
        </ul>
      </div>
    </div>
    <h2 class="gc"><i>General Contracting</i></h2>
  </section>

  <p class="hero-title2"><i>B. Borg Construction LLC has been completing commercial and residential projects
      professionally and within budget. Based in Chicago, Illinois, we are fully equipped to handle any size job
      efficiently and in a timely manner.</i></p><hr class="line">
  <p class="hero-title3">Call 1 (815) 545-5490 when you need the assistance of high quality machinery and people.</p>
  <br>
  <br>
  <div id="goal" class="main-content">
    <h1 class="pg"><strong>Project Goals</strong></h1>
    <hr class='line'>

    <div class="container">
      <div class="row" id="goals">
        <div class="col-sm bordered">
          Injuries or Accidents
          <p class='g1'>ZERO</p>
          <hr class='line'>
        </div>
        <div class="col-sm bordered">
          On Time Completion
          <p class='g1'>100%</p>
          <hr class='line'>
        </div>
        <div class="col-sm bordered">
          Quality Issues
          <p class='g1'>ZERO</p>
          <hr class='line'>
        </div>
      </div>
    </div>
  </div>