<% include partials/header %>

  <section class="title pl-2">
    <h2>Inquires</h2>
  </section>
  
  <main class="container">
  
    <section class="row">
      <% for(data of all_data.reverse()) { %>
      <section class="col-container">
        <section class="col">
          <section class="card">
            <section class="card-body">
              <h4 class="card-title">
  
                  <h4>
                      <strong class="last">First Name: &nbsp
                        <i>
                          <%= data.first_name %>
                        </i>
                    </h4>
  
                  <h4>
                    <strong class="last">Last Name: &nbsp
                      <i>
                        <%= data.last_name %>
                      </i>
                  </h4>
  
                <section class="row">
                  <section class="col">
                    <h5>
                      <hr>
                      <strong>Email:</strong>
                      <%= data.email %>
                      <hr>
                    </h5>
                  </section>
                </section>
  
                <section class="message">
                  <h5>
                    <hr>
                    <strong>Message:</strong>
                    <%= data.message %>
                  </h5>
                </section>
              </section>
            </section>
        </section>
        <br>
      </section>
      <%}%>
    </section>
    </section>
  </main>
  </section>
  
  
  <% include partials/footer %>
