* {
  font-family: helvetica;
  margin-right: 0 auto;
  margin: 0 auto;

}

@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(252, 123, 50) !important;
  margin-right: 0 auto;
  margin: 0 auto;

}

body.nav-opened {
  position: relative;
  background: rgb(50, 50, 50);
  z-index: 500;
}

body.nav-opened .site-wrapper {
  opacity: 0.5;
}

.body.nav-opened:before {
  content: "";
  position: relative;
  width: 500px;
  height: 500px;
  background: black;
  z-index: 500;
}

body.nav-opened .nav {
  right: 0rem;
}

p,
a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


body {
  margin: 0;
}

p {
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
}



.parallax {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.z1 {
  background-image: url('../images/chicago.jpg');
  height: 30rem;
}


/* GENERAL TRANSITIONS */

body,
body.nav-opened,
.nav .nav-close i,
.nav .nav-close i:hover,
.nav li a,
.nav li a:hover,
.nav .subscribe-btn,
.nav .subscribe-btn:hover,
header .main-nav a.logo,
header .main-nav a.logo:hover,
header .main-nav .menu-btn,
header .main-nav .menu-btn:hover {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

/* NAV */

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -16rem;
  background: #1C363A;
  width: 16rem;
  transition: right 0.2s ease;
  z-index: 1000;
}

/* HEADER */

header {
  position: relative;
  display: table;
  background: #28363A;
  background-image: url("../images/412030.jpg");
  background-size: cover;
  background-position: top 40%;
  width: 100%;
  height: 70vh;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
  z-index: 0;
}

header .top-message {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  padding-top: 30px;
}

header .top-message h1 {
  font-size: 5rem;
  color: white;
  font-weight: 100;
}

header .top-message hr {
  border: 3px solid #fc7b32;
  width: 15%;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
}

header .top-message h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.932);
}

.site-wrapper {
  background: rgb(32, 32, 32);
}

.main-content {
  width: 80%;
  margin: 50px auto 50px auto;
  padding: 50px 0;
  color: white;
}

.card {
  background-color: #202020;
  color: white;
}

.card-title {
  padding-bottom: 15px;
  padding-left: 20px;
}

.card-deck {
  padding-bottom: 20px;

}

#goals {
  font-size: 1.5em;
  color: white;
}

.g1 {
  color: #F56505;
  font-size: 2em;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
}

h6 {
  color: white;
}

.what {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  opacity: 0.8;
}



a:hover {
  background-color: #7cb0e0 !important;
  color: rgb(248, 248, 248) !important;
  opacity: 0.9 !important;
}

.message {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.nav-item {
  color: white !important;
}

.moment {
  color: darkgray;
}

#foot {
  background-color: #438ac2;
  height: 150px;
  color: white;
  opacity: 0.9;
  margin-top: 10%;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoRss:hover {
  background-color: #F56505;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #fc7b32;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.footForm {
  background-color: #202020;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.line {
  background-color: white;
}

.box {
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

.box img {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.box .content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding-top: 25%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transform: rotateZ(300deg);
  transition: all 0.4s ease 0s;
}

.box:hover .content {
  opacity: 1;
  top: 0;
  transform: rotateZ(0deg);
}

.box h3 {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 15px 0;
  text-transform: capitalize;
}

.box .icon {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.box .icon li {
  display: inline-block;
}

.box .icon li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: rgb(254, 114, 0);
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  transition: all 0.3s ease 0s;
}

.box .icon li a:hover {
  border-radius: 0;
  text-decoration: none !important;
}

@media screen and (max-width:1000px) {
  .box {
    margin-bottom: 30px !important;
  }
}