* {
    font-family: helvetica;
    margin: 0 auto;

}

body {
    height: 100%;
    min-height: 100vh;
    background: url('../images/412030.jpg') repeat center center fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-right: 0 auto;
}


.card {
    background-color: #535c6d;
    color: white;
}


.navbar {
    display: flex;
    justify-content: center;
}

nav {
    background-color: #4da3be !important;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
}

h6 {
    color: white;
}

.center {
    color: white;
    height: 50px;
    background-color: #414b5d;
    opacity: 0.9;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.what {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    opacity: 0.8;
}

.mountain {
    display: flex;
    justify-content: center;
}

.form-bg {
    padding-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    opacity: 0.8;
}

.btn {
    background-color: white !important;
    color: black !important;
}

a:hover {
    background-color:  #7cb0e0!important;
    color: rgb(248, 248, 248) !important;
    opacity: 0.9 !important;
}

.message {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.moment {
    color: darkgray;
}



/*General Style Reset*/
html,body{
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}


/*Helper Class Style*/

.font-w-100{
    font-weight: 100;
}

.font-w-200{
    font-weight: 200;
}

.font-size-xl{
    font-size: 8rem;
}

.color-white{
    color: white;
}

.color-primary{
    color: #193541;
}



.bg-color-white{
    background-color: white;
}

.text-right{
    text-align: right;
}



.const-msg{
    padding: 3rem;
    text-align: right;
}

.const-msg .const-text{
    margin-top: 1rem;
}

.under-text{
    display: inline-block;
}

.text-uppercase{
    text-transform: uppercase;
}


/*Socials Links Style*/
.const-msg .socials{
    margin-top: 1rem;
}

.socials .links{
    padding: 0;
    margin-top: 1.5rem;
}

.links li{
    list-style: none;
    margin: 0 0.5rem;
    padding: 0.75rem;
    font-size: 1.75rem;
    /*background-color: white;*/
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    border:1px solid white;
    transition: all 0.35s;
    cursor: pointer;
}
.links li:hover{
    background-color: white;
}

.links li a{
    color: white;
}
.links li:hover a{
    color:#193541;
}

.const-msg .gears{
    padding: 2rem 3.5rem;
}
.const-msg .text{
    border-bottom: 1px solid rgba(255, 255, 255, 0.51);
}

.svg-icon {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.svg-icon-large {
    width: 10em;
    height: 10em;
    animation-duration: 6000ms;
    animation-name: spinLeft;
}

.svg-icon-small {
    width: 6em;
    height: 6em;
    position: absolute;
    margin-left: -15px;
    margin-top: -25px;
    animation-duration: 4000ms;
    animation-name: spinRight;
}

.svg-icon path, .svg-icon polygon, .svg-icon rect {
    fill: white;
}

.svg-icon-small path {
    stroke: white;
    stroke-width: .3;
}

@keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/*Media Queries*/

@media (max-width: 700px) {
    .const-msg-container{
        justify-content: center;
    }
    .const-msg{
        text-align: center;
    }
    .const-msg .text div{
        font-size: 6rem;
    }
}

@media (max-width: 500px) {
    .const-msg .text div{
        font-size: 5rem;
    }
}